/* global */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
}

.text-gray {
    color: #777;
}

.title {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: capitalize;
    position: relative;
    text-align: center;
    margin: 45px 0px;
}

.title::after {
    content: "";
    width: 70px;
    height: 3px;
    display: inline-block;
    background-color: #00AF73;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.sub-title {
    font-weight: 500;
    margin: 20px 0px;
}

.para {
    line-height: 1.6rem;
    margin: 10px 0px;
}

.btn {

    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 10px;
    display: inline-block;
    background-color: #282828;
    background-image: linear-gradient(#00AF73, 00AF73);
    /* background: linear-gradient(#00AF73, #00AF73, #283948); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s;
}
.btn:hover {
    background-size: 0px 100%;
}


section {
    padding: 5rem;
}

.bg-dark {
    background-color: #2B3940;
}

.text-white {
    color: #fff;
}

/* nav */
nav a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

nav {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 600;
    position: fixed;
    left: 0;
    right: 0;
}

.navbar-menu li {
    list-style: none;
    display: inline-block;
}

.toggle {
    background-color: transparent;
    border: 0;
    display: none;
}

.toggle i {
    font-size: 30px;
    color: #00AF73;
}

.navbar-logo svg {
    width: 30px;
    fill: #00AF73;
}

/* header */
header {
    height: 600px;
    background-color: #ddd;
    background-image: url("../img/bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}

/* banner */
.banner {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 40%;
    transform: translateY(-50%);
}

.banner .banner-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.banner .banner-name {
    font-size: 2.5rem;
    margin: 10px 0px;
}


/* about */
.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-content,
.about-img {
    width: 50%;
}

.about-img {
    text-align: center;
}

.about-img img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 15px solid #777;
    object-fit: cover;
}

.about-img .name {
    font-size: 2rem;
    font-weight: 700;
    margin: 20px 0px;
}

.about-img .job {
    font-size: 14px;
}

.about .title,
.contact .title {
    text-align: left;
}

.about .title::after,
.contact .title::after {
    left: 0;
    transform: translateX(0%);
}

.personal-info {
    display: flex;
    flex-wrap: wrap;
}

.personal-info div {
    width: 50%;
    padding: 10px 0px;
}

.personal-info div label {
    font-weight: 700;
}

/* service */
.service-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0px;
}

.service-content .box {
    background-color: #fff;
    width: 32%;
    padding: 20px;
    transition: all 0.5s;
}

.service-content .box i {
    font-size: 50px;
}

.service-content .box:hover {
    background-color: #00AF73;
    color: #fff;
}

.service-content .box:hover .text-gray {
    color: #fff;
}

/* experience */
.experience-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

.experience-content .box {
    width: 48%;
    padding: 20px;
    box-shadow: 0px 0px 20px #333;
    transition: all 0.5s;
}

.experience-content .box:hover {
    box-shadow: 0px 0px 20px 5px #333;
}

/* education & skills */
.edu-skill {
    display: flex;
    flex-wrap: wrap;
}

.education {
    width: 30%;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px #a7a7a7;
}

.education .year {
    background-color: #00AF73;
    display: inline-block;
    color: #fff;
    padding: 10px;
    font-size: 12px;
}

.education .job-title {
    font-weight: 600;
    font-size: 18px;
}

.education div {
    border-bottom: 2px solid #2B3940;
    padding: 20px 0px;
}

.education div:nth-of-type(3) {
    border-bottom: 0;
}

.skill {
    width: 70%;
    padding: 20px;
}

.skill>div {
    display: flex;
    margin-bottom: 10px;
}

.progress-bar label {
    display: block;
}

.progress-bar {
    width: 100%;
}

.progress-bar progress {
    width: 100%;
    background-color: #a7a7a7;
}

.progress-bar progress::-moz-progress-bar {
    background-color: #00AF73;
}

.percentage {
    font-size: 2rem;
    padding: 10px;
}

/* portfolio */
.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}
.portfolio-content .box {
    width: 32%;
    height: 450px;
    position: relative;
    overflow: hidden;
}
.portfolio-content .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio-content .box .box-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(11, 20, 0, 0.5);
    /* opacity: 0; */
    transform: translateY(-100%);
    transition: all 0.5s;
}
.portfolio-content .box:hover .box-overlay {
    /* opacity: 1; */
    transform: translateY(0);
}
  /* footer */
  footer{
      background-color: #00AF73;
      color: #fff;
      text-align: center;
      padding: 30px;
  }
  /* Arrow */
  #up {
      background-color: #00AF73;
      color: #fff;
      position:fixed;
      right: 50px;
      bottom: 80px;
      padding: 20px;
      font-size: 20px;
  }
  #up:hover {
      background-color: #000;
  }
/* contact */
.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-info,
.contact-form {
    width: 50%;
}
.contact-info div {
    margin: 10px 0px;
}
.contact-info div i {
    background-color: #00AF73;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}
.contact-info div i:hover {
    background-color: #000;
}
.contact-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-form input {
    width: 48%;
}
.contact-form textarea {
    width: 100%;
}
.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin: 5px 0px;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
    font-size: 16px;
    font-family: "Open Sans";
}
.contact-form form button {
    margin: 10px 0px;
    padding: 10px;
    width: 200px;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-color: transparent;
    border: 1px solid #00AF73;
    color: #00AF73;
}
.contact-form form button:hover {
    background-color: #00AF73;
    color: #fff;
}
.contact-info, .contact-form {
    width: 100%;
}

/*****************  
media query
*****************/

@media (max-width: 1200px) {

    /* about */
    .about-img img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width:992px) {
    .toggle {
        display: block;
    }

    .navbar-menu {
        display: none;
        width: 100%;
    }

    .navbar-menu li {
        display: block;
    }

    .toggle:hover+.navbar-menu {
        display: block;
    }

    /* about */
    .about-content,
    .about-img {
        width: 100%;
    }
    .contact-info, .contact-form {
        width: 100%;
    }

}

@media (max-width: 768px) {
    .banner {
        width: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* service */
    .service-content .box {
        width: 48%;
    }

    /* experience */
    .experience-content .box {
        width: 100%;
    }

    /* education & skill */
    .education, 
    .skill {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .personal-info div {
        width: 100%;
    }

    /* service */
    .service-content .box {
        width: 100%;
    }
    .contact-form form input {
        width: 100%;
    }
}